<%= form_with(model: tool) do |form| %>
  <% if tool.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
        <% tool.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class:"form-group">
       <%= form.text_field :first_name, class:"form-control", placeholder:"ID" %>
  </div> <br/>

  <div class:"form-group">
       <%= form.text_field :email, class:"form-control", placeholder:"Precinto" %>
  </div> <br/>

  <div class:"form-group">
        <%= form.text_field :phone, class:"form-control", placeholder:"Fecha de Uso" %>
  </div> <br/>

  <div class:"form-group">
       <%= form.text_field :twitter, class:"form-control", placeholder:"Vencimiento" %>
  </div>  <br/>

  <div class:"form-group">
       <%= form.number_field :user_id, id: :friend_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

<br/>
  <div>
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
