<div id="<%= dom_id tool %>" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card h-100 text-bg-dark rounded-3">
        <div class="card-body">
          <h2 class="card-title text-primary"><%= tool.clase %></h2> <br/>
          <h2 class="card-title">ID: <%= tool.id_tool %></h2>
          <h2 class="card-title">Precinto: <%= tool.precinto %></h2> <br/>
          <h4 class="card-text">
            Pin: <%= tool.pin %> <br/>
            Box: <%= tool.box %> <br/> <br/>
            <div class="mt-3">

            
            
             <%= form_with(model: tool, url: tool_path(tool), method: :patch, local: true, html: { class: "update-date-form" }) do |form| %>
              <%= form.hidden_field :authenticity_token %>
             <div class="form-group">
             <%= form.label :date_of_use, "Actualizar Fecha de Uso:" %>
             <%= form.date_field :date_of_use, class: "form-control" %>
             </div> <br/>
             <%= form.submit "Actualizar", class: "btn btn-primary" %>
              
             <% end %>

             <div class="mt-3">
             <%= button_to "Reset", update_date_of_use_tool_path(tool), method: :patch, params: { reset_date_of_use: true }, class: "btn btn-warning" %>
           </div>
             
             
             <br/>
             
            
            Fecha de Uso: <%= tool.date_of_use %> <br/>
            Fecha de Vencimiento: <%= tool.date_due_to %> <br/> 
           

          </p>
          <br/>

          <!-- Link to Inspeccion -->
          <div class="mt-3">
          <%= link_to "Inspeccion", tool.link_to_pdf, target: "_blank", class: "btn btn-primary" %>
        </div><br/>

      

          <% if user_signed_in? %>
            <%= link_to "Edit", edit_tool_path(@tool), class:"btn btn-secondary" %>
            <%= link_to "Volver", tools_path, class:"btn btn-secondary" %>
            <br/> <br/>
            <%= button_to "Destroy", @tool, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
          <% end %>

                  </div>
      </div>
    </div>
  </div>
</div>
