<p style="color: green"></p>

<% if user_signed_in? %>

  <%= form_tag(tools_path, method: :get, class: "form-inline mb-3") do %>
    <div class="form-group mr-2">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
    </div> </br>
    <%= submit_tag "Search", class: "btn btn-outline-primary " %>
  <% end %>

  <%= link_to "Show Used Tools", used_tools_tools_path, class: "btn btn-outline-success mb-3" %>

  <table class="table table-striped table-bordered table-hover mt-3">
    <thead class="table-dark">
      <tr>
        <th>ID Tool</th>
        <th>Precinto</th>
        <th>Tipo</th>
        <th>Detalles</th>
      </tr>
    </thead>

    <tbody>
      <% @tools.each do |tool| %>
        <% if tool.user == current_user %>
          <tr>
            <td>
              <%= link_to tool.id_tool, tool %>
            </td>

            <td><%= tool.precinto %></td>
            <td><%= tool.clase %></td>
            <td>
              <%= link_to 'Detalles', tool, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-info btn-sm" %>
            </td>
          </tr>
        <% end %>
      <% end %>
      
    </tbody>
  </table>

  <br>

  <%= link_to "Agregar", new_tool_path, class: "btn btn-secondary" %>

  <br/>
  <br/>

  <%= link_to "Volver", root_path, class: "btn btn-dark" %>

<% else %>

  <h1 class="mt-5 text-center">Hola! Por favor ingresar</h1>

<% end %>


