<p style="color: green" ></p>

<% if user_signed_in? %>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Precinto</th>
        <th>Fecha de uso</th>
        <th>Vencimiento</th>
        <th>Inspeccion</th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
        <tr>
        <td>
        <%= link_to friend.first_name, friend %>
        
        
                  </td>

          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <td><%= link_to 'Show', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-info btn-sm" %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to "Agregar", new_friend_path, class:"btn btn-secondary"%>

  <br/>
  <br/>

  <%= link_to "Volver", root_path, class:"btn btn-dark" %>

<% else %>

  <h1 class="mt-5 text-center"> Hola! Por favor Ingresar para poder editar </h1>

<% end %>



